useDynLib(depcache, .registration = TRUE, .fixes = 'C_')
importFrom(codetools, makeCodeWalker, walkCode)
importFrom(utils, removeSource)
importFrom(methods, getSlots, slot, 'slot<-')
export(cache)
export('%<-%')
export('%->%')
export(setCached)
export(depcache.options)
